node_modules/
.next/
.vercel/
dist/
out/
.env
.env.local
.env.*.local
aaa
.DS_Store
.idea/
.vscode/
/.pnp/
/.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
build/
npm-packages-offline-cache/
*.tgz
*.log
public/build/
/.parcel-cache/
.env.local
.env.production
.husky
